{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Картинка</th>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Цена за 1 шт</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.photo %}
                                    {{ product.photo.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href='{% url "cart_remove" product.slug%}'>Удалить</a></td>
                    <td class="num">{{ item.price }} Р</td>
                    <td class="num">{{ item.total_price }} Р</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итого</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} Р</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href='{% url "home" %}' class="button light">Продолжить покупки</a>
        <a href="#" class="button">Checkout</a>
    </p>
{% endblock %}