{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }} x {{ item.product.name }}
                    <span>{{ item.total_price }} Р</span>
                </li>
            {% endfor %}
        </ul>
        <p>Итого: {{ cart.get_total_price }} Р</p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.email }}
        {{ form.address }}
        {{ form.postal_code }}
        {{ form.city }}
        <button class="form-button" type="submit">Заказать</button>
        {% csrf_token %}
    </form>
{% endblock %}