{% extends "shop/base.html" %}

{% block title %}
    Сравнение
{% endblock %}

{% block content %}
<div class="head-compare-all">
{% if compare %}
	{% for item in compare %}
 		{% with p=item.product %}
<div class="head-compare-one">
<div class="head-compare">
	{% if p.photo %}
	<div class="img-block"><a href="{{ p.get_absolute_url }}"><img class="img-compare" src="{{p.photo.url}}"></a></div>
	{% endif %}
	<div class="head-inf-block"><p>{{p.name}}</p>
	<p>{{p.price}}</p>
	<a href='{% url "cart_add" p.slug %}'><button>В корзину</button></a>
	<a href='{% url "wishlist_add" p.slug %}'><button>В избранное</button></a>
	<a href='{% url "compare_remove" p.slug%}'><button>Удалить</button></a>
		</div>
</div>
<div class="main-spec">
<p>Процессор: {{p.spec_gadget.cpu}}</p>
<p>Частота: {{p.spec_gadget.frequency}}</p>
<p>Память: {{p.spec_gadget.memory}}</p>
<p>Размеры и вес: {{p.spec_gadget.size}}</p>
</div>
</div>
   {% endwith %}
	{% endfor %}
</div>
{% else %}
	<h2>Нет товаров для сравнения</h2> <a href='{% url "home" %}'>Продолжить покупки</a>
	{% endif %}

{% endblock %}
