{% extends "shop/base.html" %}

{% block title %}
    Сравнение
{% endblock %}

{% block content %}
{% if compare %}
	{% for item in compare %}
 		{% with p=item.product %}
<div class="head-compare-all">
<div class="head-compare">
	{% if p.photo %}
		<a href="{{ p.get_absolute_url }}"><p><img class="img-article-left" src="{{p.photo.url}}"></p></a>
	{% endif %}
	<p>{{p.name}}</p>
	<p>{{p.price}}</p>
	<a href='{% url "cart_add" p.slug %}'><button>В корзину</button></a>
	<a href='{% url "wishlist_add" p.slug %}'><button>В избранное</button></a>
	<a href='{% url "compare_remove" p.slug%}'><button>Удалить</button></a>
</div>
<div class="main-spec">
<p>{{p.spec_gadget.cpu}}</p>
<p>{{p.spec_gadget.frequency}}</p>
<p>{{p.spec_gadget.memory}}</p>
<p>{{p.spec_gadget.size}}</p>
</div>
</div>

   {% endwith %}
	{% endfor %}

{% else %}
	<h2>Нет товаров для сравнения</h2> <a href='{% url "home" %}'>Продолжить покупки</a>
	{% endif %}

{% endblock %}
