{% extends "shop/base.html" %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
<ul class="list-articles">
	{% for p in products %}
			<li><div class="article-panel">
	<p class="first">Категория: {{p.category}}</p>
</div>
{% if p.photo %}
	<a href="{{ p.get_absolute_url }}"><p><img class="img-article-left thumb" src="{{p.photo.url}}"></p></a>
{% endif %}

				<h2>{{p.name}}</h2>
	{% autoescape on %}
	{{p.specification|linebreaks|truncatewords:50}}
	{% endautoescape %}
				<form action='{% url "wishlist_add" p.slug %}' method="post">
        			{{ wishlist_product_form.update }}
					{% csrf_token %}
					<button type="submit">Добавить в избранное</button>
    			</form>
				<form action='{% url "compare_add" p.slug %}' method="post">
        			{{ compare_product_form.update }}
					{% csrf_token %}
					<button type="submit">Сравнить</button>
    			</form>
				<form action='{% url "cart_add" p.slug %}' method="post">
						{{ cart_product_form.quantity }}
						{{ cart_product_form.update }}
   					 	{% csrf_token %}
    				<button type="submit">Добавить в корзину</button>
				</form>
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}
