{% extends "shop/base.html" %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
<ul class="list-articles">
	{% for p in products %}
			<li><div class="article-panel">
	<p class="first">Категория: {{p.category}}</p>
</div>
{% if p.photo %}
	<a href="{{ p.get_absolute_url }}"><p><img class="img-article-left thumb" src="{{p.photo.url}}"></p></a>
{% endif %}

				<h2>{{p.title}}</h2>
	{% autoescape on %}
	{{p.specification|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}