{% extends "shop/base.html" %}

{% block content %}
<h1>{{product.name}}</h1>

{% if product.photo %}
<p><img class="img-article-left" src="{{product.photo.url}}"></p>
{% endif %}

<p class="price">${{ product.price }}</p>
<form action='{% url "cart:cart_add" product.id %}' method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>
<h3>Цена: {{product.price}} р</h3>

<h3>Описание:</h3>{{product.specification|linebreaks}}
<h3>Гарантия: {{product.warranty}}</h3>
{% endblock %}
